<footer>
    <div class="foot-info" >
        <div class="foot-info-socials">
            <a href="https://www.facebook.com/skincare">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/skincare" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/skincare" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-twitter"></i>
            </a>

        </div>

        <div>&copy; SkinCare Private Limited</div>
        <div class="foot-info-links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>

        </div>


    </div>
</footer>